---
title: Old Blog Archive
permalink: "/old-blog/"
layout: default
---

<section>
    {% include title-normal.html %}
    {% for post in site.categories['oldBlog'] %}
    <article class="post">
        <h3><a href="{{ post.url }}" aria-label="Post: {{ post.title }}">{{ post.title }}</a></h3>
        <div class="post__content">
            {% if post.date %}
            <p class="meta">{{ post.date | date: '%B %d, %Y' }}</p>
            {% endif %}
            <p aria-label="Post excerpt: {{ post.postExcerpt }}">{{ post.postExcerpt }}</p>
        </div>
    </article>
    {% endfor %}
</section>
