---
layout: default
title: web application developer
title-class: front-page
bannerStyle: "background: #11367d; color: #FFF;"
---

<section class="container dark center-text">
    <img class="profile-circle" src="/images/avatar.jpg" alt="Dafydd's profile picture.">
    {% include title-normal.html %}
</section>

<section class="posts">
    {% for post in site.categories['blog'] %}
    <article class="post">
        <h3><a href="{{ post.url }}" aria-label="Post: {{ post.title }}">{{ post.title }}</a></h3>
        <div class="post__content">
            {% if post.date %}
            <p class="meta">{{ post.date | date: '%B %d, %Y' }}</p>
            {% endif %}
            <p aria-label="Post excerpt: {{ post.postExcerpt }}">{{ post.postExcerpt }}</p>
        </div>
    </article>
    {% if forloop.last == false %}
    <!--<hr>-->
    {% endif %}
    {% endfor %}
</section>
