---
layout: default
title: Code Stuff
permalink: /code/
---


<section class="container">
    {% include title-normal.html %}
    <p>Here is where I will place links to some of my projects. My public code is available to browse, comment, criticise, fork on at
        <a href="https://github.com/dafzthomas">Github</a>.</p>
    <div class="snippet-posts blog">
        {% for project in site.categories['code'] limit:4 %}
        <article class="post" style="{{ project.backgroundStyle }}">
            <div>
                {% if project.instantLink %}
                <h4><a href="{{ project.instantLink }}" tabindex="0" aria-label="project: {{ project.title }}">{{ project.title }}</a></h4>
                {% else %}
                </h4><a href="{{ project.url }}" tabindex="0" aria-label="project: {{ project.title }}"><h4>{{ project.title }}</h4></a>
                {% endif %}
            </div>
            <div class="text-image">
                <p tabindex="0" aria-label="project excerpt: {{ project.postExcerpt }}">{{ project.postExcerpt }}</p>
                {% if project.featuredImage %}
                <img class="responsive" src="{{ project.featuredImage }}-320.jpg" srcset="{{ project.featuredImage }}-320.jpg 320w, {{ project.featuredImage }}-500.jpg 500w, {{ project.featuredImage }}.jpg 980w" alt="Apple banner image">
                {% endif%}
            </div>
        </article>
        {% if forloop.last == false %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</section>
