<footer class="footer container">
    <div class="footer__flex-area">
        <section>
            <div class="social-icons">
                <a href="https://twitter.com/dafzthomas/" title="Twitter profile"><img src="/images/icons/twitter.svg" alt="Twitter icon"></a>
                <a href="https://github.com/dafzthomas/" title="Github profile"><img src="/images/icons/github.svg" alt="Github logo"></a>
            </div>
        </section>
        <section class="info">
            <address>
                <a class="underline" title="Email me for web developer queries." href="mailto:dafz@dafzthomas.com">dafz@dafzthomas.com</a>
            </address>
        </section>
    </div>

    <p class="center-text">&copy; {{ site.time | date: '%Y' }} - Dafydd Thomas</p>
</footer>
