.container {
    padding: 0 20px 20px;

    &:first-of-type {
        padding-top: 20px;
    }
}

section {
    .post {
        margin: 0 0 15px;
    }
}

p.meta {
    font-style: italic;
    margin-bottom: 1rem;
    text-align: right;
}