<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://gitlab.com/dafzthomas" rel="me">
    <link href="https://gitlab.com/dafzthomas" rel="me">
    <link href="https://www.facebook.com/dafzthomas" rel="me">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
    <div id="app"></div>
</body>
</html>