---
title: Wedding Invitation Design
date: 2015-07-02 00:00:00 Z
categories:
- blog
layout: default
postExcerpt: A few months ago I undertook the important task of designing Wedding
  Invitations for my sister and her now husband. (woo weddings!)
bannerStyle: 'background: #282728; color: #FFF;'
---

<section class="container">
    {% include title-normal.html %}

    <p class="drop-cap-p">A few months ago I undertook the important task of designing Wedding Invitations for my sister and her now husband. (woo weddings!)</p>
    <p>I delved into what I needed to know to make it.</p>
    <ul>
        <li>Theme: We know it's weddings.</li>
        <li>Theme 2.0: What style of wedding?</li>
    </ul>
    <p>From knowing Theme 2.0 we can already start to throw in ideas.</p>
    <p>Although, I am lucky to have a sister who's upfront with what she wants. She wanted the invitations to be like Boarding Passes.</p>
    <p>*Begins the research into boarding passes.</p>
    <p>Here's what I made.</p>
</section>

<section class="container container-wide">
    <img src="/images/weddings.jpg" srcset="/images/weddings-400.jpg 400w, /images/weddings-600.jpg 600w, /images/weddings-800.jpg 800w" alt="Wedding Invitation">
</section>

{% include recent-posts.html %}
{% include disqus.html %}
