---
title: Web Apps - What are they?
date: 2016-05-24 00:00:00 Z
categories:
- blog
layout: default
postExcerpt: Tackling what is the difference between a web app and website and discussing
  if there's a difference at all.
bannerStyle: 'background: #383838; color: #FFF;'
---

<section>
	{% include title-normal.html %}

	<p><strong>Warning: This is a thought stream and I am still forming opinions on the topic.</strong></p>

	<p class="drop-cap-p">A discussion began on Twitter between myself and <a href="https://twitter.com/adactio" title="Jeremy's Twitter">Jeremy Keith</a> concerning the term 'web apps'. It became confusing and thought it best to write my thoughts down in a short post.</p>
	<p>What got me thinking is the following question of this tweet:</p>
	<blockquote class="twitter-tweet" data-conversation="none" data-lang="en-gb"><p lang="en" dir="ltr"><a href="https://twitter.com/dafzthomas">@dafzthomas</a> Those are examples, not definitions.<br><br>Follow-up question: *why* do you want to subdivide the whole web into two categories?</p>&mdash; Jeremy Keith (@adactio) <a href="https://twitter.com/adactio/status/735031930576592897">24 May 2016</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

	<p>He has a good point. I had provided examples to what he had asked 'Define "web app"', but never gave a distinguishing factor to what a web app was. Go read his <a href="https://adactio.com/journal/6246" title="Jeremy's journal entry on why we shouldn't distinguish website and web app as two different things.">journal</a> about how we should not make these distinguishes.</p>

	<p>My question is: Would you call Trello or Google Docs a 'website'?
	<p>To me a website is something I load on a web browser to access information I may or may not interact with e.g Twitter, Wikipedia, someone's blog.</p>

	<p>Then a web app is an application that can be accessed in the web browser that acts just like a native application but within the browser e.g. Google Docs, Trello, Messenger, Gmail etc. There's a distinct different in the use case of Twitter and Google Docs.</p>

	<p><strong>Are they actually different?</strong></p>

	<p>Maybe some people see something called 'website' as all of the above and think me stupid, maybe some don't even know what a URL is, who knows! But I think a new word/phrase should be used to describe the web as a whole just as Jeremy said in his journal entry, 'web thangs', to stop confusion with the general public and these buzzwords.</p>

	<p>Thanks for visiting my web thang.</p>

</section>

{% include recent-posts.html %}
