---
title: Website Version 2
date: 2017-01-06 00:00:00 Z
categories:
- blog
layout: default
postExcerpt: My second actually recorded website design.
---

<section class="container">
	{% include title-normal.html %}

	<h3>UPDATE</h3>
	<p>Been updated since then... AGAIN. But hey, we're an ever evolving organism!</p>
	<p>...</p>

	<p class="drop-cap-p">Hey look! A new design for this website, how wonderful for the start of the year!</p>
	<p>This really isn't much of a drastic change, just a slight tweak to colours and general feel. Everything is still in the same place as it was with my previous design as changing that would be quite silly, /now, /work, /about pages as they were.</p>
	<p>Here's some before and after images:</p>

	<figure>
		<img src="/images/before-desktop.png" alt="Before, desktop screenshot." />
		<figcaption>Before, desktop screenshot.</figcaption>
	</figure>

	<figure>
		<img src="/images/after-desktop.png" alt="After, desktop screenshot." />
		<figcaption>After, desktop screenshot.</figcaption>
	</figure>

	<p>Very early days, but I wanted to update it a little and update it whenever I get some free time. Actually recording my website progress is a nice addition!</p>
</section>

{% include recent-posts.html %}

{% include disqus.html %}
